.header {
    display: flex;
    height: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(255, 255, 255, 1);

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    padding: 20px 40px 20px 40px;
    background-color: rgba(245, 27, 27, 1);
}

.fill {
    padding: 0 40px 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.clients {
    color: rgba(49, 49, 49, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}