@font-face {
    font-family: 'InterBold';
    font-style: bold;
    font-weight: 700;
    src: url(../public/fonts/Inter_18pt-Bold.ttf) format('ttf'),
  }

  @font-face {
    font-family: 'InterExtrabold';
    font-style: bold;
    font-weight: 900;
    src: url(../public/fonts/Inter_18pt-ExtraBold.ttf) format('ttf'),
  }